<div
  *ngIf="isStartSearch"
  class="grid grid-cols-12 gap-6 mt-5 border-t border-gray-300"
>
  <div
    class="flex flex-wrap items-center col-span-12 mt-2 intro-y sm:flex-nowrap"
  >
    <select
      (change)="onTableSizeChange($event)"
      class="w-20 mt-3 mr-2 form-select box sm:mt-0"
    >
      <option *ngFor="let size of tableSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
    <div class="dropdown">
      <a
        routerLink="/application/upload-files"
        class="px-2 text-gray-700 dropdown-toggle btn box dark:text-gray-300"
        aria-expanded="false"
      >
        <span class="flex items-center justify-center w-5 h-5">
          <i class="w-4 h-4 fas fa-plus"></i>
        </span>
      </a>
    </div>
    <div class="hidden mx-auto text-gray-600 md:block">
      <!--Showing {{config.currentPage}} to 10 of 150 entries -->
    </div>
    <div class="w-full mt-3 sm:w-auto sm:mt-0 sm:ml-auto md:ml-0">
      <div class="relative w-56 text-gray-700 dark:text-gray-300">
        <input
          [(ngModel)]="filter"
          type="text"
          class="w-56 pr-10 form-control box placeholder-theme-13"
          placeholder=" {{ 'ConsultFiles.Search' | translate }}..."
        />
        <i
          class="absolute inset-y-0 right-0 w-4 h-4 my-auto mr-3 fas fa-search"
        ></i>
      </div>
    </div>
  </div>
  <!-- BEGIN: Data List -->
  <div class="col-span-12 overflow-auto intro-y lg:overflow-visible">
    <table class="table -mt-2 table-report">
      <thead>
        <tr>
          <th class="whitespace-nowrap">
            {{ "ConsultFiles.StudentFullName" | translate }}
          </th>
          <th class="text-center whitespace-nowrap">
            {{ "UniversityYear" | translate }}
          </th>
          <th class="text-center whitespace-nowrap">
            {{ "DocumentType" | translate }}
          </th>
          <th class="text-center whitespace-nowrap">
            {{ "SupplementaryText" | translate }}
          </th>
          <th class="text-center whitespace-nowrap">
            {{ "Actions" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="intro-x"
          *ngFor="
            let file of filesData | filter: filter | paginate: config;
            let i = index
          "
        >
          <td>
            <a href="" class="font-medium whitespace-nowrap"
              >{{ file?.etudiantDTO?.nom }} {{ file?.etudiantDTO?.prenom }}</a
            >
            <div class="text-gray-600 text-xs whitespace-nowrap mt-0.5">
              {{ file?.etudiantDTO?.idEtudiant }}
            </div>
          </td>
          <td class="text-center">{{ file?.anneeScolaire }}</td>
          <td class="text-center">{{ file?.sousCategorieDTO?.libelle }}</td>
          <td class="text-center">{{ file?.libelleCompl }}</td>
          <td class="w-56 table-report__action">
            <div class="flex items-center justify-center">
              <button
                (click)="shareWithEmail(file?.idDocument)"
                class="flex items-center mr-3 text-green-500"
              >
                <i class="w-4 h-4 mr-1 text-green-500 fas fa-share"></i>
                {{ "ConsultFiles.Share" | translate }}
              </button>
              <button (click)="download(file)" class="flex items-center mr-3">
                <i class="w-4 h-4 mr-1 fas fa-download"></i>
                {{ "ConsultFiles.Download" | translate }}
              </button>

              <button
                (click)="annuler(file?.idDocument)"
                class="flex items-center text-theme-6"
                *ngIf="isAdmin && !file?.annule"
              >
                <i class="w-4 h-4 mr-1 far fa-trash-alt"></i>
                {{ "Cancel" | translate }}
              </button>
              <button
                (click)="infoFile(file)"
                class="flex items-center text-blue-500"
                *ngIf="isAdmin && file?.annule"
              >
                <i class="w-4 h-4 mr-1 text-blue-500 fas fa-info-circle"></i>
                {{ "ConsultFiles.Info" | translate }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <app-paginations
        (pageChange)="config.currentPage = $event"
      ></app-paginations>
    </div>
  </div>
  <!-- END: Data List -->
  <!-- BEGIN: Pagination
  <div
    class="flex flex-wrap items-center col-span-12 intro-y sm:flex-row sm:flex-nowrap"
  >
    <ul class="pagination">
      <li>
        <a class="pagination__link" href="">
          <i class="w-4 h-4" data-feather="chevrons-left"></i>
        </a>
      </li>
      <li>
        <a class="pagination__link" href="">
          <i class="w-4 h-4" data-feather="chevron-left"></i>
        </a>
      </li>
      <li><a class="pagination__link" href="">...</a></li>
      <li><a class="pagination__link" href="">1</a></li>
      <li>
        <a class="pagination__link pagination__link--active" href="">2</a>
      </li>
      <li><a class="pagination__link" href="">3</a></li>
      <li><a class="pagination__link" href="">...</a></li>
      <li>
        <a class="pagination__link" href="">
          <i class="w-4 h-4" data-feather="chevron-right"></i>
        </a>
      </li>
      <li>
        <a class="pagination__link" href="">
          <i class="w-4 h-4" data-feather="chevrons-right"></i>
        </a>
      </li>
    </ul>
    <select class="w-20 mt-3 form-select box sm:mt-0">
      <option>10</option>
      <option>25</option>
      <option>35</option>
      <option>50</option>
    </select>
  </div>-->

  <!-- END: Pagination -->
</div>
