<!--<button class="bg-red-500">hi</button> -->
<div
  data-url="login-dark-login.html"
  class="fixed bottom-0 z-50 flex items-center justify-center w-40 h-12 mb-10 mr-10 border rounded-full shadow-md cursor-pointer  dark-mode-switcher box dark:bg-dark-2"
>
  <div class="mr-4 text-gray-700 dark:text-gray-300">Fr</div>
  <div class="form-check">
    <input
      id="checkbox-switch-7"
      class="form-check-switch"
      style="background-image: none !important"
      type="checkbox"
    />
    <label class="form-check-label" for="checkbox-switch-7"></label>
  </div>
  <div class="ml-4 mr-4 text-gray-700 dark:text-gray-300">En</div>
</div>
<router-outlet></router-outlet>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  loadingText="Loading..."
  [fullScreen]="true"
>
</ngx-spinner>
