<!--<button class="bg-red-500">hi</button> -->
<div
  data-url="login-dark-login.html"
  class="fixed bottom-0 z-50 flex items-center justify-center w-40 h-12 mb-10 mr-10 border rounded-full shadow-md cursor-pointer  dark-mode-switcher box dark:bg-dark-2"
>
  <div class="mr-4 text-gray-700 dark:text-gray-300">Dark Mode</div>
  <div class="border dark-mode-switcher__toggle"></div>
</div>
<router-outlet></router-outlet>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  loadingText="Loading..."
  [fullScreen]="true"
>
</ngx-spinner>
