<form [formGroup]="filesStudentUploadedFromGroup">
  <!-- <div class=" p-5  grid grid-cols-12 gap-2" >
    <div class="w-1/4">
      <label for="crud-form-1" class="form-label">Code Etudiant</label>
      <input id="regular-form-1" type="text" class="form-control  w-4/12" placeholder="Input text">
    </div>
    <div>
      <label for="crud-form-1" class="form-label">Code Etudiant</label>
        <ng-select [items]="CodeEtudiant" 
           bindLabel="code" 
           bindValue="id" 
           formControlName="studentCode"
           placeholder="Code Etudiant"
           >
        </ng-select>
    </div>
  </div> -->

  <div id="inline-form" class="p-3">
    <div class="preview">
      <div class="grid grid-cols-4 gap-6">
        <div>

          <label for="crud-form-1" class="form-label">Année Scolaire</label>

        <ng-select class="col-span-3"
                  placeholder="Anne Scolaire"            
                  formControlName="AnneeScolaire"
                  (change) = 'getlistEtudiantByInscriptiondate()'
        >
        <ng-option
        *ngFor="let incp of  dataInscription"
        [value]="incp?.id"
        >{{ incp?.anne }}</ng-option
      >
        </ng-select>
 </div>
      <div>
        <label for="crud-form-1" class="form-label">Code Etudiant</label>
            <ng-select class="col-span-3" 
            placeholder="Code Etudiant"           
            formControlName="studentCode"
            >
          <ng-option
            *ngFor="let etud of dataEtudiant"
            [value]="etud?.id"
            >{{ etud?.code }}</ng-option
          >
        </ng-select>
      </div>
        </div>
      </div>
    </div>
  
  <!-- file upload modal -->
  <article aria-label="File Upload Modal" class="relative flex flex-col h-full bg-white rounded-md shadow-xl"
    ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);"
    ondragenter="dragEnterHandler(event);">
    <section class="flex flex-col w-full h-full p-8 overflow-auto">
      <header class="flex flex-col items-center justify-center py-12 border-2 border-gray-400 border-dashed">
        <p class="flex flex-wrap justify-center mb-3 font-semibold text-gray-900">
          <span>Drag and drop your</span>&nbsp;<span>files anywhere or</span>
        </p>
        <input id="hidden-input" type="file" multiple class="hidden" (change)="uploadFiles($event)" />
        <label for='hidden-input' id="button"
          class="px-3 py-1 mt-2 bg-gray-200 rounded-sm hover:bg-gray-300 focus:shadow-outline focus:outline-none">
          Upload a file
        </label>
      </header>
    </section>
  </article>

</form>