
<app-filter-search-consult-files
  [hidden]="formIsShow"
  [sousCategoryDocumentsData]="sousCategoryDocumentsData"
  [listAnneeScolaire]="listAnneeScolaire"
  (SearchFilterEvent)="searchMultiCriteria($event)"
></app-filter-search-consult-files>
<app-list-consult-files
  [hidden]="formIsShow"
  [filesData]="filesData"
  [isStartSearch]="isStartSearch"
  (editEvent)="edit($event)"
  (downloadEvent)="downloadFile($event)"
  (shareEvent)="sendEmail($event)"
  (AnnulerEvent)="annulerFile($event)"
></app-list-consult-files>
