<div class="mobile-menu md:hidden">
  <div class="mobile-menu-bar">
    <a href="" class="flex mr-auto">
      <img alt="Rubick Tailwind HTML Admin Template" class="w-6" src="/assets/images/logo.svg">
    </a>
    <a href="javascript:;" id="mobile-menu-toggler"><i
        class="w-8 h-8 text-white transform -rotate-90 fas fa-chart-bar"></i> </a>
  </div>
  <ul class="hidden py-5 border-t border-theme-29">
    <li>
      <a href="side-menu-light-inbox.html" class="menu">
        <div class="menu__icon"> <i class="fas fa-home"></i> </div>
        <div class="menu__title"> Inbox </div>
      </a>
    </li>
  </ul>
</div>
